---
layout: base
---
<div class="jumbotron">

  <div class="row">

    <div class="col-sm-6">
      <h1 class="display-3">LightGames</h1>

      <p class="lead">
        A set of challenges to learn programming while having fun.
      </p>

      <p class="lead">
        <a class="btn btn-primary btn-lg"
           href="#getting-started"
           role="button">
          Get started!
        </a>
      </p>
    </div>

    <div class="col-sm-6">
      <a href="screenshot.png" class="screenshot-link">
        <img src="screenshot.png" class="screenshot" alt="screenshot">
      </a>
    </div>

  </div>

</div>

{{ content }}

<a href="https://github.com/rosedu/lightgames"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
